*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#efefef;
}

.top-bar{
    background:#89b6a5;
    color:white;
    text-align:center;
    padding:8px;
}
.navbar{
    text-align: center;
    
}
.menu{
    padding: 20px;
    margin-bottom: 0.5%; 
    
}

.main{
    display:flex;
    padding:40px;
}

.left{
    width:220px;
}

.logo{
    font-size:45px;
    font-weight:bold;
    margin-bottom:20px;
    margin-top: 20px;
}

.left a{
    display:block;
    text-align: center;
    text-decoration:none;
    color:black;
    margin:6px 0;
}

.center{
    flex:1;
    padding:0 40px;
}

.title{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}

.filter{
    text-align: left;
    margin-bottom:20px;
    margin-left: 15%;
}

.products{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:10px;
    border-radius:10px;
    text-align:center;
}

.card img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:10px;
}

.price{
    font-weight:bold;
}

.old{
    text-decoration:line-through;
    color:gray;
    margin-left:5px;
}

button{
    margin-top:8px;
    padding:6px 12px;
    background:#1f2937;
    color:white;
    border:none;
    border-radius:5px;
}
.footer-grid{
    text-align:center;
}
.About{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;

}
.QUICK{
    
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    
}
.COMPANY{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;

}
.Contact-Mail{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.right{
    width:260px;
    background:#ddd;
    padding:20px;
}

.right h3{
    margin-top:10px;
}

.right p{
    font-size:14px;
    margin:4px 0;
}